
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/* Styling for large text at the top of the page */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  white-space: pre-wrap;
  height: 120px;
  border-top: 1px solid white;;
}
/* Stylings for each of the columns */
.col {
  border: 2px solid black;
}

.col-2 {
  padding: 10px
}
.col-9, .col-1 {
  padding: 0px;
}

/* stylings for the text areas on each row */
.form-control{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  min-height: 100%;
  color: #000000;

}

.form-control:focus{
  border: 2px solid lightblue;
  color: #000000;

}

/* stylings for the save buttons */
.btn{
  padding: 0px;
  min-width: 100%;
  background-color: lightblue;
}

.btn:hover{
  border: 2px solid blue;
}


/* Styling for the fade out animation that the save confirmation text uses */
.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}